<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#" (click)="onChangeLink('recipes')">Recipes Book</a>
  <button (click)="collapsed = !collapsed" class="navbar-toggler" >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse" [class.collapse]="collapsed" (window:resize)="collapsed = true"
    id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" [class.active]="setActiveLink('recipes')">
        <a class="nav-link" href="#" (click)="onChangeLink('recipes')">Recipes </a>
      </li>
      <li class="nav-item" [class.active]="setActiveLink('shopping-list')">
        <a class="nav-link" href="#" (click)="onChangeLink('shopping-list')">Shopping list</a>
      </li>
    </ul>
  </div>
  <div class="navbar-nav">
    <span class="nav-item" [class.active]="setActiveLink('my-products')">
      <a class="nav-link" href="#" (click)="onChangeLink('my-products')">My Products</a>
    </span>
    <button type="button" class="nav-item bg bg-light" (click)="onChangeLink('cart')">
      Shipping Cart
      <span *appUnless="!hasCartItems" class="header-shipping-cart">
        <fa-icon [icon]="icons.faFlag"></fa-icon>
      </span>
      <fa-icon [icon]="icons.faCartPlus"></fa-icon>
    </button>
  </div>
</nav>
