.ingredient-type {
    border: 2px solid;
    border-radius: 10px;
}

.ingredient-type-fruits {
    border-color: cadetblue;
    background-color: cadetblue;
    color: black;
}

.ingredient-type-meat {
    border-color: brown;
    background-color: brown;
    color: honeydew;
}
.ingredient-type-vegetables {
    border-color: aqua;
    background-color: aqua;
    color: black;
}

