<div class="row">
    <div class="col-md-12">
        <app-shopping-edit (ingredientAdded)="onNewIngredient($event)"></app-shopping-edit>

        <div class="list-group col-4">
            <label class="label-group">
                Search:
            </label>
            <input type="text" [(ngModel)]="filtered">
        </div>
            <hr>
    </div>
</div>
<div class="container px-lg-5">
    <div class="row mx-lg-n5">
       <app-ingredient [ingredientList]="ingredientList" (itemClicked)="sendToCart($event)"></app-ingredient>
        <app-cart></app-cart>
    </div>
</div>
<ng-template #noItems>no Items</ng-template>
