<ul class="list-group col py-3 px-lg-5">
    <li class="list-group-item d-inline-flex " *ngFor="let ingredient of ingredientList | filter:filtered:'name'" >

        <span class="flex-grow-1 ">
         {{ ingredient.name }}
        </span>
        <span class="mr-4">
            {{ ingredient.amount | PriceNumber }}
        </span>
        <span class="p-1 mr-2" [appIngredientType]="ingredient.type">
         {{ ingredient.type }}
         </span>
         <span *ngIf="!ingredient">werwerwer</span>
         <span [ngClass]="{
            'btn-success': !ingredient.added,
            'btn-secondary': ingredient.added
         }"class="btn mr-2" (click)="!ingredient.added && registerOnClick(ingredient)">Add to Cart</span>
    </li>
</ul>